@import "../../styles/colors.scss";

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: map-get($map: $schema, $key: primary);
    &__title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    &__error{
        color: #f33939;
        margin-bottom: 10px;
    }
    &__form {
        width: 30%;
        padding: 20px;
        box-shadow: 0 0 3px rgba($color: #000, $alpha: 0.5);
        margin-bottom: 20px;
        &__item {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            &__input {
                padding: 10px;
                background-color: #eee;
                margin-top: 5px;
            }
            &__button {
                background-color: #000;
                color: #fff;
                width: 100%;
                padding: 10px
            }
        }
    }
    &__link{
        a {
            color: rgb(86, 88, 88);
            font-weight: 700;
        }
    }

}